<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Suprmrkt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Suprmrkt.Properties.Settings.buyriteConnectionString"
            connectionString="data source=C:\Users\Xiy\Desktop\suprmrkt\buyrite.s3db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
    <userSettings>
        <Suprmrkt.Properties.Settings>
            <setting name="dbConnectionString" serializeAs="String">
                <value>data source=C:\Users\Xiy\Desktop\suprmrkt\buyrite.s3db</value>
            </setting>
        </Suprmrkt.Properties.Settings>
    </userSettings>
</configuration>